@import url('http://fonts.cdnfonts.com/css/circular-book');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   --green: #17873f;
   --blue: #8CA7D2;
   --orange: #E68C43;
}

body {
   font-family: 'Circular Book', Arial, sans-serif;
}

a {
   color: #000;
   text-decoration: none;
}

a:hover {
   color: #000;
   text-decoration: underline;
}

nav {
   position: fixed;
   background-color: transparent;
   width: 100%;
   display: flex;
   flex-direction: column;
   transition: 300ms;
   z-index: 100;
   padding: 0px 20px;
   transform: 300ms;
}

nav:hover {
   background-color: #FFF;
}

nav.active {
   background-color: #FFF;
   color: black;
}

button {
   border: none;
   background-color: transparent;
}

hr {
   margin: 0;
   width: 100vw;
   margin-left: -20px;

}

.navigation-items {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navigation-items a {
   color: #000;
   transition: 300ms;
}

.pill-button {
   background-color: transparent;
   border: solid 2px #FFF;
   color: #FFF;
   padding: 8px 20px;
   cursor: pointer;
   border-radius: 50px;
   transition: 300ms;
}

.pill-button:hover {
   background-color: #FFF;
   border: solid 2px #FFF;
   color: #000;
}

.pill-button-green {
   background-color: var(--green);
   border: var(--green) solid 2px;
   color: #FFF;
   padding: 8px 20px;
   cursor: pointer;
   border-radius: 50px;
   transition: 300ms;
}

.pill-button-green:hover {
   background-color: transparent;
   color: var(--green);
   border: var(--green) solid 2px;
}
.nav-contents {
   font-size: 1.1em;
   display: flex;
}

.nav-links {
   padding: 18px;
   width: auto;
}

#mobile-menu {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   display: none;
}

.mobile-nav-links {
   padding: 15px 0px;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.sub-menu:hover {
   color: #17873f;
   text-decoration: none;
}

.sub-menu {
   padding: 15px 0px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   /* display: none; */
}

.sub-menu-links {
   width: 100%;
   padding: 8px 0px;
}

.sub-menu-links:hover {
   color:#17873f;
   text-decoration: none;
}

#setsandkits-submenu {
   display: none;
}
#setsandkits-submenu a:first-child {
   color: var(--green);
}

#skincare-submenu {
   display: none;
}
#skincare-submenu a:first-child {
   color: var(--green)
}

#bodycare-submenu {
   display: none;
}
#bodycare-submenu a:first-child{
   color: var(--blue)
}

#suncare-submenu {
   display: none;
}

#suncare-submenu a:first-child{
   color: var(--orange)
}

#adidas-submenu {
   display: none;
}

#ceramics-submenu {
   display: none;
}

#shopall-submenu {
   display: none;
}

#abouthumanrace-submenu {
   display: none;
}

/* ---------------------------------- */

#bag {
   min-height: 100vh;
   width: 33%;
   position: fixed;
   top: 0;
   right: 0px;
   background-color: #FFF;
   display: flex;
   justify-content: center;
   align-items: center;
   display: none;
}

#bag-empty {
   padding: 20px;
   display: flex; 
   flex-direction: column;
   align-items: center;
   text-align: center;
   gap: 20px;
}

@media only screen and (max-width: 1000px) {
   #bag {
      width: 100%;
   }
}

.right-content {
   display: flex;
   align-items: center;
}

.nav-logo {
   height: 20px;
   width: auto;
}

.burger {
   position: relative;
   display: none;
}

.burger-line {
   width: 20px;
   height: 2px;
   display: flex;
   flex-direction: column;
   background-color: #17873f;
   margin: 6px 0;
}

.bag-button {
   height: 25px;
   width: 25px;
   border-radius: 50%;
   border: none;
   background-color: #17873f;
   color: #FFF;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 2000;
}

.about-humanrace-container {
   padding: 19px;
   width: 100vw;
   margin-left: -20px;
   background-color: #f7f7f7;
   display: none;
}

.about-humanrace-container.active {
   display: flex;
   align-items: center;
   justify-content: center;
}

.about-humanrace-content {
   width: 600px;
}

.hero-container {
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url("https://www.humanrace.com/static/30d84e319bac669b3ffa497042994a20/e1a98/Allure-Beauty-Award-Winner-Facial-Cleanser-Desktop-Banner.webp");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.hero-title {
   padding: 19px;
   color: #FFF;
}

.hero-sticker-container {
   border: red solid 2px;
   position: fixed;
   height: 100%;
   width: 100%;
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.hero-sticker {
   max-height: 8em;
   color: #FFF;
   
}

.banner-image {
   width: 100vw;
}

.text-block {
   font-size: 32px;
   padding: 40px;
}

.double-tile-row {
   width: 100%;
   display: flex;
}

.triple-tile-row {
   display: flex;
   width: 100%;
}

@media only screen and (max-width: 1000px) {

   nav {
      background-color: #FFF;
   }
   .nav-links {
      padding: 10px;
   }
   .nav-logo {
      position: relative;
   }
   .burger {
      display: block;
   }
   .left-content {
      display: none;
   }
   .bag-button-text {
      display: none;
   }
   .account-button {
      display: none;
   }
 }


 .compact-tiles {
   height: 250px;
   transition: 100ms;
 }


 .compact-tiles a {
   color: #fff;
   text-decoration: none;
 }

 .humidifying-cream {
   background-image: url("https://www.humanrace.com/static/b5765b9c4267f60b99dc165c1995e2fc/6ec4f/LR_PHARRELL_STILL-LIFE_PRIORITY_03.webp");
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.5em;
   text-align: center;
   padding: 15px 25px;
   transition: 100ms;
 }

 .humidifying-cream-application {
   background-image: url("https://www.humanrace.com/static/2802d23d912dc65894a11570ab807138/6ec4f/ID_File_-_Aspect_24th_still_2.webp");
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5em;
      text-align: center;
      padding: 15px 25px;
      transition: 100ms;
 }

 .pharrel-wellbeing {
   background-image: url("https://www.humanrace.com/static/09cef1c8763f42e296a19c0afc6a477a/9a1b7/pharrell-wellbeing.webp");
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5em;
      text-align: center;
      padding: 15px 25px;
      transition: 100ms;
 }

 footer {
   padding: 42px;
   background-color: #e5e5e5;
 }

 .footer-links {
   display: flex;
 }

 .footer-link-group {
   display: flex;
   flex-direction: column;
   margin-right: 135px;
   line-height: 20px;
   font-size: 16px;
 }

 footer h1 {
   font-size: 18px;
   margin-bottom: 17px;
 } 

 @media (max-width: 960px) {
   footer {
      padding: 33px;
   }
   .footer-links {
      display: flex;
      flex-direction: column;
   }

   .footer-link-group {
      margin-bottom: 22px;
   }
 }